<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ThuVien.Properties.Settings.ThuVienConnectionString1"
            connectionString="Data Source=ADMIN;Initial Catalog=ThuVien;User ID=CHUTV"
            providerName="System.Data.SqlClient" />
        <add name="ThuVien.Properties.Settings.ThuVienConnectionString"
            connectionString="Data Source=ADMIN;Initial Catalog=ThuVien;User ID=THUTHU"
            providerName="System.Data.SqlClient" />
        <add name="ThuVien.Properties.Settings.ThuVienConnectionString2"
            connectionString="Data Source=DELL;Initial Catalog=ThuVien;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="ThuVien.Properties.Settings.ThuVienConnectionString3"
            connectionString="Data Source=MSI;Initial Catalog=ThuVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>